// Colors to use
// main background : #373737
// app background : #f4f4f4
// font color: #C0B283
// Button background: #DCD0C0
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro&display=swap');

// Fonts
// Title: font-family: 'Playfair Display', serif;
// everything else: font-family: 'Source Sans Pro', sans-serif;



html{
  background-color: #373737;
  color:#C0b283;
  font-family: 'Source Sans Pro', sans-serif;

}
h1, h2, h3, h4{
  font-family: 'Playfair Display', serif;
  margin-bottom: 0;
  text-align: center;
}

.innerBox{
  border: 1px solid #C0b283;
  padding:10%;
  border-radius: 10px;

}

.App {
  display:flex;
  background-color: #f4f4f4;
  border-radius: 2px;
  width: 450px;
  margin: 5% auto;
  padding: 2%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  width: 50%;
  height: 40px;
  font-size: 1.3rem;
  border: 0;
  background: #DCD0C0;
  color:#f4f4f4;
}

Form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width:100%;
}
.onboardForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.titleBox{
  margin-bottom: 5%;
}
.formComponent{
  background-color: #f4f4f4;
  border:1px solid #C0b283;
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  width:90%;
  margin: 5% 0 5%;
  padding: 2%;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 2px;
}

.error{
  color: crimson;
  margin: 5% 0 0;
  font-family: 'Source Sans Pro', sans-serif;

}

.userCard{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5% auto 0;
  width: 90%;
  padding: 2%;
  border: 3px solid #37373750;
  border-radius: 4px;
  border-top-right-radius: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3rem;
}

.userCard p{
  margin: 0 auto;
  padding: 2% 0;
}

.checkbox-container {
  display: block;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
 .checkbox-container input {
  position: absolute;
  cursor: pointer;

} 
